<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806916007980-raudfemu9tsqcoht11h9u5443d7ep9it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806916007980-raudfemu9tsqcoht11h9u5443d7ep9it</string>
	<key>API_KEY</key>
	<string>AIzaSyDa7KnnbBYZOUCca6Fo6eH9FWxKKFCPWn8</string>
	<key>GCM_SENDER_ID</key>
	<string>806916007980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assigment19001355</string>
	<key>PROJECT_ID</key>
	<string>assignment-c4af7</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-c4af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806916007980:ios:6394828d6cf64df1974989</string>
</dict>
</plist>